# Node modules (reinstalled in container)
node_modules

# Git
.git
.gitignore

# Cypress artifacts
cypress/videos
cypress/screenshots
allure-results
allure-report

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# Env files
.env
.env.*